[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/cartographer/cartographer"]
	path = src/cartographer/cartographer
	url = https://github.com/cartographer-project/cartographer.git
[submodule "src/cartographer/cartographer_ros"]
	path = src/cartographer/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros.git
[submodule "src/i2c_device_ros"]
	path = src/i2c_device_ros
	url = https://github.com/Brazilian-Institute-of-Robotics/i2c_device_ros.git
[submodule "src/mpu6050_driver"]
	path = src/mpu6050_driver
	url = https://github.com/Brazilian-Institute-of-Robotics/mpu6050_driver.git
