# Catkin artifacts
build/
devel/
.catkin_tools/
.catkin_workspace
logs/

# Colcon artifacts
install/
log/

# cartographer abseil
src/cartographer/abseil-cpp

# Zero has ros bare bone installation and doesn't have common_msgs
src/common_msgs
