<launch>
  <arg name="joy_dev" default="/dev/input/js0"/>
  
  <include file="$(find bb8)/launch/description.launch">s</include>

  <group ns="remote">

    <!-- Joystick driver -->
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
      <param name="dev" value="$(arg joy_dev)"/>
      <param name="deadzone" value="0.05"/>
      <param name="autorepeat_rate" value="20"/>
    </node>

    <!-- Remote handler -->
    <node name="orbit_remote" pkg="orbit_remote" type="orbit_remote.py" output="screen" />
</group>
</launch>
