<launch>

    <!-- IMU  -->
    <node name="mpu_node" pkg="mpu6050_driver" type="mpu6050_node" output="screen">
        <rosparam file="$(find bb8_zero)/config/mpu_settings.yaml" command="load"/>
    </node>

    <!-- Madgwick filter -->
    <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
        <rosparam file="$(find bb8_zero)/config/madgwick_filter_params.yaml" command="load"/>
        <remap from="/imu/data" to="/sphere_imu"/>
    </node>

    <!-- odometry -->
    <node pkg="robot_localization" type="ekf_localization_node"
            name="ekf_localization" clear_params="true" output="screen">

        <rosparam command="load"
        file="$(find bb8_zero)/config/ekf_sphere.yaml"/>
    </node>

    <!-- Controller -->
    <node name="bb8_zero" pkg="bb8_zero" type="bb8_zero" output="screen"/>
</launch>