<launch>

    <!-- IMU  -->
    <node name="mpu_node" pkg="mpu6050_driver" type="mpu6050_node" output="screen">
        <rosparam file="$(find bb8_zero)/config/mpu_settings.yaml" command="load"/>
    </node>

    <!-- Madgwick filter -->
    <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
        <rosparam file="$(find bb8_zero)/config/madgwick_filter_params.yaml" command="load"/>
        <remap from="/imu/data" to="/sphere_imu"/>
    </node>

    <!-- odometry -->
    <node pkg="robot_localization" type="ekf_localization_node"
            name="ekf_localization" clear_params="true" output="screen">

        <rosparam command="load"
        file="$(find bb8_zero)/config/ekf_sphere.yaml"/>
    </node>
    
    <!-- Heading PID -->
    <group ns="pid_heading">
        <node name="pid_heading" pkg="pid" type="controller" output="screen">
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.1" />
        <param name="Kd" value="0.05" />

        <param name="angle_error" value="true" />

        <param name="upper_limit" value="1.0" />  <param name="lower_limit" value="-1.0" /> <param name="windup_limit" value="0.5" />

        <param name="max_loop_frequency" value="50.0" />
        <param name="min_loop_frequency" value="10.0" />
    </node>
    </group>

    <!-- Controller -->
    <node name="bb8_zero" pkg="bb8_zero" type="bb8_zero" output="screen"/>
</launch>