<launch>

    <!-- Robot URDF description -->
    <include file="$(find bb8)/launch/description.launch"/>

    <group ns="head">

        <!-- IMU ros node -->
        <node name="mpu_node_head" pkg="mpu6050_driver" type="mpu6050_node" output="screen">
            <rosparam file="$(find bb8)/config/mpu_settings.yaml" command="load"/>
            <!-- <remap from="imu/data_raw" to="/imu_head"/> -->
        </node>

        <node name="imu_filter_node_head" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
            <rosparam file="$(find bb8)/config/madgwick_filter_params.yaml" command="load"/>
            <!-- <remap from="imu/data" to="imu_head"/> -->
        </node>

        <!-- Throttle the pitch controll -->
        <node pkg="topic_tools" type="throttle" name="imu_throttle_head"
            args="messages /head/imu/data 50.0 /head/imu/data_50hz" output="screen" />


        <!-- SLAM -->
        <!-- <include file="$(find bb8)/launch/slam.launch"/> -->


        <node name="bb8" pkg="bb8" type="bb8" output="screen"/>

    </group>
</launch>