<launch>
    <node name="mpu_node" pkg="mpu6050_driver" type="mpu6050_node" output="screen">
        <rosparam file="$(find bb8)/config/mpu_settings.yaml" command="load"/>
    </node>

    <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
        <rosparam file="$(find bb8)/config/madgwick_filter_params.yaml" command="load"/>
        <!-- <remap from="imu/data" to="imu_head"/> -->
    </node>

    <node pkg="topic_tools" type="throttle" name="imu_throttle"
          args="messages /imu/data 50.0 /imu_head"
          output="screen" />

    <group ns="pid_pitch">
    <node name="controller" pkg="pid" type="controller" output="screen">
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.1" />
        <param name="Kd" value="0.05" />

        <param name="angle_error" value="true" />
        <param name="upper_limit" value="1.0" />  <param name="lower_limit" value="-1.0" /> <param name="max_loop_frequency" value="50.0" />
    </node>
    </group>

    <node name="bb8" pkg="bb8" type="bb8" output="screen"/>
</launch>